/* .divide {
    border: 50px solid black
} */

.bckg {
    background-image: url("../../images/nateteacher.png");
    background-repeat: no-repeat;
    
}

.teacherhome {
    margin: 2%;
    display: flex;
    justify-content: center
    

}
#search {
    width: 50%;
}