/* 

.bckg {
    background-image: url("../../images/pianoBlue.jpg");
    background-repeat: no-repeat;
    
}

.teacherhome {
    margin: 2%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.teacherhome:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 90%;
    z-index: -1;
    opacity: 0.6;

 
    background-size: 100%;
    background-repeat: no-repeat;
}
#search {
    width: 50%;
}

.background-img {
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url("../../images/darkerPiano.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
}


.containter-fluid:after {
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url("../../images/darkerPiano.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
  } */

  #HM:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.45;
    /* background: lightgoldenrodyellow; */
    background-image: url("../../images/darkerPiano.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: bottom
    
  
  }

  /* //  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #HM:after {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.45;
        /* background: lightgoldenrodyellow; */
        background-image: url("../../images/pianoBlue.jpg");
      }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }