.hidden {
    display: none
}

#buttonsDisplay {
    display: flex;
    flex-direction: row;
    
    
}

#divider {
    background-color: black;
    width: 1px;
    height: 90px;
    
}


.btn {

    margin: 20px 20px 20px 0px


}

.phone {
    font-size: 30px;
    color: blue;
    
}

/* .phone:hover {
    font-size: 40px;
    color: grey;
    
} */

#allinfo {
    padding: 20px;
    

}

#instruments {
    width: 100px
}

/* #studentInfo {

    
} */

/* #pagecontainer {
    display: flex;
    width: 100%;
    padding: 10px
} */

#name {
    /* text-align: center; */
    padding: 10px
}

/* #notesPayments {
    max-width: 80%;
} */

#studentInfo {
    display: flex;
    flex-direction: column;
    justify-content: center
    /* border-right: 1px solid black */
}