.navbar {
    background:rgb(107, 148, 107);
    color: aliceblue;

}
 
.nav-pills{
    
    display: flex;
    
    justify-content: space-between
}

.nav-link {
    color: aliceblue;
}

.btn{
    margin: 0px;
}

.nav-item {
    size: 15px;
}